{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            {{ $post_class := "post-head-wrapper-text-only"}}
            {{ $featured_image := .Params.featured_image }}
            {{ if $featured_image }}
                {{ $post_class = "post-head-wrapper"}}
            {{ end }}

            <div class="{{$post_class}}"
                {{ if $featured_image }}
                    {{ $image := .Resources.GetMatch (.Params.featured_image) }}
                    {{ if $image }}
                    style="background-image: url('{{$image.Permalink }}')"
                    {{ else }}
                    style="background-image: url('{{ $featured_image | absURL}}')"
                    {{ end }}
                {{ end }}
            >
                <div class="post-title">
                    {{ .Title }}
                    <!--{{ if .Params.description }}
                    <div class="post-subtitle">
                        {{ .Params.description }}
                    </div>
                    {{ end }}-->
                    {{ if not .Params.disableMetaInfo }}
                    <div class="post-meta">
                        {{ if .Params.date}}
                        <time itemprop="datePublished">
                            {{ i18n "format_date_tosec" .PublishDate }}
                        </time>
                        {{ end }}

                        {{ if .Params.categories }}
                            <i class="material-icons" style="">folder</i>
                                <a href="{{ "/categories/" | relLangURL }}{{ .Params.categories | urlize }}">{{ .Params.categories }}</a>
                                &nbsp;
                        {{ end }}

                        {{ if gt .Params.tags 0 }}
                            <i class="material-icons" style="">label</i>
                            {{ range .Params.tags }}
                                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                &nbsp;
                            {{ end }}
                        {{ end }}
                        {{ if .Site.Params.enableReadingTime }}
                            <i class="material-icons" style="">schedule</i>
                            {{ $readTime := mul (div (countwords .Content) 220.0) 60 }}

                            {{ $minutes := math.Floor (div $readTime 60) }}
                            {{ $seconds := mod $readTime 60 }}

                            {{ if gt $minutes 0}}
                            {{ $minutes }} {{ cond (eq $minutes 1) "minute" "min" }}
                            {{ end }}
                            {{ $seconds }} {{ cond (eq $seconds 1) "second" "s" }}
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
            
            <div class="post-body-wrapper">
                {{ if .Params.enableVue }}
                <div class="post-body">
                {{ else }}
                <div class="post-body" v-pre>
                {{ end }}
                    {{ if not .Params.disableOutdatedNotice }}
                        <outdated-notice lastmod="{{if not .Lastmod.IsZero}}{{.Page.Lastmod}}{{else}}{{.PublishDate}}{{end}}"></outdated-notice>
                    {{ end }}
                    {{.Content}}
                    {{ if not .Lastmod.IsZero }}
                    <HR width="100%" id="EOF">
		    <p style="color:#777;">{{ i18n "last_mod_on" .Page.Lastmod }}</p>
                    {{ end }}
                    <!-- 临时使用-->
                    <div>
                        <svg display="none" height="0" id="notice_figure" width="0" xmlns="http://www.w3.org/2000/svg">
                            <symbol id="tip-notice" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                                <path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" style="fill: var(--icon-color)"/>
                            </symbol>
                            <symbol id="note-notice" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                                <path d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z" style="fill: var(--icon-color)"/>
                            </symbol>
                            <symbol id="warning-notice" preserveAspectRatio="xMidYMid meet" viewBox="0 0 576 512">
                                <path d="M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z" style="fill: var(--icon-color)"/>
                            </symbol>
                            <symbol id="info-notice" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                                <path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" style="fill: var(--icon-color)"/>
                            </symbol>
                        </svg>
                        <div class="notice info" id="outdated-notice">
                            <p class="first notice-title"><span class="icon-notice baseline"><svg><use href="#info-notice"></use></svg></span>注意</p>
                            <p>评论数据正在迁移中，暂时无法访问！</p>
                        </div>
                    </div>

                </div>
            </div>


            {{ if not .Params.disablePagination }}
            <nav class="post-pagination">

                {{if .Next}}
                <a class="newer-posts" href="{{.Next.Permalink}}">
			{{ i18n "next_link" }}<br>{{.Next.Title}}
                </a>
                {{else}}
                <a class="newer-posts">
			{{ i18n "next_link" }}<br>{{ i18n "no_newer_posts"}}
                </a>
                {{end}}

                {{if .Prev}}
                <a class="older-posts" href="{{.Prev.Permalink}}">
			{{ i18n "prev_link" }}<br>{{.Prev.Title}}
                </a>
                {{else}}
                <a class="older-posts">
			{{ i18n "prev_link" }}<br>{{ i18n "no_older_posts" }}
                </a>
                {{end}}
            </nav>
            {{ end }}

            <div class="post-comment-wrapper">
                {{ if eq .Params.comment false }}
                <p style="opacity: 0.6" align="center">
                    <small>{{ i18n "comments_disabled" }}</small>
                </p>
                {{ else }}
                {{- partial "comment.html" . -}}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
